<div class="container">
  <div class="row">
    <div
      class="col-sm-3"
      style="
        background-color: gray;
        border: 1px solid green;
        margin-top: 2px !important;
        margin-right: 2px !important;
      "
      *ngFor="let pokemon of listPokemon; let indexOfelement = index"
    >
      <img
        style="max-height: 150px !important; min-height: 150px !important"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
          indexOfelement + 1
        }}.png"
      />
      <h2>{{ pokemon.name }}</h2>
    </div>
    <div><a [routerLink]="['/app-pokemon-list', nextUrl]">Proximo</a></div>
  </div>
</div>
<div></div>
