@import "../../../assets/styles/variables.scss";

.card {
  width: 300px;
  margin: auto;
  padding: 3px;
  margin-top: 20px;
  background-color: black;
  border: transparent 1px solid;
  border-radius: 10px;
}
black .header-image {
  background-size: cover;
}

.mat-card-header {
  background-color: #ffffe0;
  padding-top: 10px;
  border-radius: 30px;
}

.mat-card-title {
  text-transform: uppercase;
  color: black;
}

.mat-card-subtitle {
  color: black;
}

.mat-chip {
  color: white;
  background-color: transparent;
  border: white 1px solid;
}
